.amount-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.amount-box[data-error="true"] {
    border: 1px solid red;
}

.amount-item {
    padding: 15px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
}

.amount-item:hover {
    opacity: 0.6;
}

.amount-item[data-actived="true"] {
    background-color: #aaa;
}