.user-profile-box {
    display: flex;
    margin-top: 70px * 1.74;
    overflow: hidden;
    align-items: center;
    padding: 0 20px * 1.74;

    img {
        width: 60px * 1.74;
        height: 60px * 1.74;
        margin-right: 12px * 1.74;
    }

    span {
        font-size: 16px * 1.74;
        line-height: 16px * 1.74;
        font-weight: 700;
        color: #fff;
    }

    .placeholder {
        flex: 1;
    }

    .credits-box {
        .credits-desc {
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }

        .credits-data {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 15px;
            img {
                width: 25px;
                height: 25px;
            }
            span {
                font-size: 32px;
                font-weight: 600;
                color: #FFD029;
            }
        }
    }
}